@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFF;
	text-align:center;
	
}

p {
	padding-left: 10px;
}

.inputtabWidth {
	float: left;
}

.selectorField {
	border: 1px dotted;
	width:  250px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.droppedFieldsColumn {
	margin: 10px;
	float: left;
		
}
	
.droppedFields {
	border: 1px solid;
	margin: 10px;
	float: left;
	width: 300px;
	min-height:400px;
}

.tableFooter {
	clear:both;
	width: 200px;
	margin-top:50%;
}
	

.draggableField {
	/* float: left; */
	padding-left:5px;
	margin: 10px;
}

.draggableField:hover{
	background-color: #666;
}


